
/* Responsive Media */
img, audio, video {
  display: block;
  max-width: 100%;
}

/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  background-color: white;
}

label {
  display: block;
  text-align: center;
}

.Header {
  background-color: red;
  color: white;
  text-align: center;
}
/* FONT FAMILY */

h1 {
  font-family: 'Anton', sans-serif;
}
body {
  font-family: 'Anton', sans-serif;
}
/* first + last name font change */
#fname {
  font-family: 'Anton', sans-serif;
  border-style: hidden;
  border-radius: 0.25em;
  display: inline-block;
  width: 90%;
    }

#lname {
  font-family: 'Anton', sans-serif;
  border-style: hidden;
  border-radius: 0.25em;
  display: inline-block;
  width: 90%;
    }
/* ===== LAYOUT STYLES ====== */
h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

ol {
  background-color: grey;
  margin-top: 0.5em;
  padding: 0.75em;
  border-radius: 0.25em;
}

#FName {
  width: 100%;
  padding-bottom: 0.809em;
  display: inline-block;
  font-family: 'Anton', sans-serif;
}

#input-submit {
  width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.25em;
}

/* email css */
#input-email {
  width: 100%;
  padding-top: 0.809em;
  padding-bottom: 0.809em;
  display: inline-block;
  font-family: 'Anton', sans-serif;
}

#email {
  width: 85%;
  border-radius: 0.25em;
  border-style: hidden;
  padding-left: 0.25em;
  display: inline-block;
  font-family: 'Anton', sans-serif;
}

#submit {
  background-color: red;
  color: white;
  width: 80%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-radius: 0.25em;
  font-family: 'Anton', sans-serif;
  border-style: hidden;
}
main {
  display: block;
  margin:auto;
  text-align: center;
  font-family: 'Anton', sans-serif;
}
/* ===== MODULAR STYLES ===== */
/* === media queiries === */
/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (max-width: 354px) { 
  h1 {
    font-size: 1.618em; /* 35.596px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */ 
    font-style: normal; 
    font-weight: normal;
    } 

  h2 {
    font-size: 1.391em; /* 30.593px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */ 
    font-style: normal; 
    font-weight: normal;
    } 

  h3 {
    font-size: 1em; /* 22px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */
    font-style: normal; 
    font-weight: normal;
    }    

  h4 {
    font-size: 1em; /* 22px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */
    font-style: normal; 
    font-weight: normal;
    }

  p, label, input {
    font-size: 0.618em; /* 13px @ 22 */
    line-height: 1.618em; /* 22px / ~ 1.618% */ /* ( 22px / 22px = 1em ) */
    font-style: normal; 
    font-weight: normal;
    }

  /* first + last name font change */
  #fname {
    font-family: 'Anton', sans-serif;
    border-style: hidden;
    border-radius: 0.25em;
    display: inline-block;
    width: 90%;
    padding-left: 0.25em;
    }

  #lname {
    font-family: 'Anton', sans-serif;
    border-style: hidden;
    border-radius: 0.25em;
    display: inline-block;
    width: 90%;
    padding-left: 0.25em;
    }

  /* email css */
  #input-email {
    width: 100%;
    padding-top: 0.809em;
    padding-bottom: 0.809em;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    }

  #email {
    width: 80%;
    display: inline-block;
    border-style: hidden;
    font-family: 'Anton', sans-serif;
    }

}
/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 658px) {
  /* email css */
  #input-email {
    width: 100%;
    padding-top: 0.809em;
    padding-bottom: 0.809em;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    }

  #email {
    width: 80%;
    display: inline-block;
    border-style: hidden;
    font-family: 'Anton', sans-serif;
    }

  /* submit css */
  #input-submit {
    width: 100%;
    display: block;
    overflow:hidden; /* keeps it in box */
    font-family: 'Anton', sans-serif;
    }

  #submit {
    width: 80%;
    display: inline-block;
    border-radius: 0.236em;
    border-width: 0;
    background-color: red;
    color: white;
    font-family: 'Anton', sans-serif;
    }

  /* first + last name font change */
  #fname {
    font-family: 'Anton', sans-serif;
    border-style: hidden;
    border-radius: 0.25em;
    display: inline-block;
    width: 70%;
    padding-left: 0.25em;
    }

  #lname {
    font-family: 'Anton', sans-serif;
    border-style: hidden;
    border-radius: 0.25em;
    display: inline-block;
    width: 70%;
    padding-left: 0.25em;
    }

}
/*CUSTOM TEXT SIZE CHANGE BASED OFF SCREEN RESOLUTION */
@media screen and (max-width: 725px) {

  h1 {
    font-size: 1.25em; /* 35.596px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */ 
    font-style: normal; 
    font-weight: normal;
    } 

  /* email css */
  #input-email {
    width: 100%;
    padding-top: 0.809em;
    padding-bottom: 0.809em;
    display: inline-block;
    border-style: hidden;
    font-family: 'Anton', sans-serif;
    }

  #email {
    width: 80%;
    display: inline-block;
    border-style: hidden;
    font-family: 'Anton', sans-serif;
    }

  /* submit css */
  #input-submit {
    width: 100%;
    display: block;
    overflow:hidden; /* keeps it in box */
    font-family: 'Anton', sans-serif;
    }

  #submit {
    width: 80%;
    display: inline-block;
    border-radius: 0.236em;
    border-width: 0;
    background-color: red;
    color: white;
    font-family: 'Anton', sans-serif;
    }

  /* first + last name font change */
  #fname {
    font-family: 'Anton', sans-serif;
    border-style: hidden;
    border-radius: 0.25em;
    display: inline-block;
    width: 80%;
    padding-left: 0.25em;
    }

  #lname {
    font-family: 'Anton', sans-serif;
    border-style: hidden;
    border-radius: 0.25em;
    display: inline-block;
    width: 80%;
    padding-left: 0.25em;
    }

}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 996px) {

  main {
    width: 960px;
    display: block;
    margin:auto;
    text-align: center;
    font-family: 'Anton', sans-serif;

    }

}
